*{
    box-sizing: border-box;
}
.fcontainer{
display: flex;
flex-direction: row;
border: 2px solid green;
justify-content: space-between;
flex-wrap: wrap-reverse;
align-items: center;
}
.fitem{
    width: 100px;
    height: 100px;
    background-color: brown;
    font-size: 15px;
    border-width: 10px;
    border-color: black;
    border-style: double;
    padding: 10px;
    margin: 20px;
}
.item1{
    order: 2;
    flex-grow: 4;
}
.item4{
    order: -1;
    flex-grow: 3;
    
}